* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #0c240f;
  overflow-x: hidden;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 100px auto;
}

.app {
  background-color: white;
  min-height: 600px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app h1 {
  text-align: center;
  color: #0c240f;
}

button {
  max-width: max-content;
  margin: 0px auto;
  padding: 5px 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 3px 8px gray;
  font-size: 1.2rem;
}

button:hover {
  box-shadow: 2px 3px 8px rgb(80, 80, 80);
  cursor: pointer;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 1.3rem;
}

input,
textarea {
  font-size: 1.2rem;
  padding: 3px 10px;
  outline: none;
  border-radius: 10px;

  max-width: 100%;
}

textarea {
  height: 150px;
}
